.nav-pills .nav-item .nav-link.active {
    background-color: #fdcd02;
    color: #333123;
    font-weight: bold;
}
.nav-link:hover{
    color: #333123;
}

    .price-buttons {
        display: inline-block;
        margin: 0 10px; /* Adjust the margin as needed */
    }
    .hover-text {
        display: none;
    }

    .eco-h:hover + .hover-text {
        display: inline-block;
    }



